@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-variable-font.woff2') format('woff2'),
       url('../assets/fonts/inter-variable-font.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/geist-variable-font.woff2') format('woff2'),
       url('../assets/fonts/geist-variable-font.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
